<footer class="bg-body-secondary font-monospace border pb-5 pt-3" style="margin-bottom: 4rem;">
  <div class="text-end">
    <a href="#" class="text-secondary-emphasis" style="position: relative; bottom: 3rem; right: 1rem;">Ir ao topo <i class="bi bi-arrow-up-circle"></i></a>
  </div>
  <div class="container d-flex justify-content-around align-items-center text-body-secondary">
    <div class="col-5 text-center">
      <small class="text-primary">Hospeda</small><small class="text-danger">X</small> <i class="bi bi-airplane"></i>
    </div>
    <div class="vr"></div>
    <small class="col-5 text-center">Copyright&copy;2026</small>
  </div>
</footer>
