.linkNavbar:hover {
    background-color: silver;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    transition: .5s;
}

.img-cover {
    object-fit: cover;
    height: 100%;
}

/* Setas (prev / next) */
/* garante branco SEMPRE */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: none !important;
    background-color: transparent;
}

/* força o SVG branco */
[data-bs-theme="dark"] .carousel-control-prev-icon,
[data-bs-theme="dark"] .carousel-control-next-icon {
    filter: invert(1) !important;
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 1;
}

/* Indicadores (os “tracinhos”) */
.carousel-indicators [data-bs-target] {
    background-color: silver;
    opacity: 0.5;
}

.carousel-indicators .active {
    background-color: silver;
    opacity: 1;
}

/* Texto (caption) */
.carousel-caption h5,
.carousel-caption p {
    color: black;
}

.carousel-item {
    transition: transform .3s ease-in-out;
}

.carousel-fade .carousel-item {
    transition: opacity .3s ease-in-out;
}