{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-12 col-lg-9">
      <form method="post" class="card p-3" id="submitForm">
        <h1 class="text-center mb-3">Entrar</h1>
        {% csrf_token %}

        <div class="mb-3">
          <label for="id_username" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="id_username" name="username" maxlength="50" value="{{ request.POST.username|default:'' }}" required />
        </div>

        <div class="mb-3">
          <label for="id_password" class="form-label">Senha</label>
          <input type="password" class="form-control" id="id_password" name="password" required />
        </div>

        {% if form.errors %}
          <div class="alert alert-danger">
              {{ form.non_field_errors }}
              {% for field in form %}
                {% for error in field.errors %}
                  <div>{{ error }}</div>
                {% endfor %}
              {% endfor %}
          </div>
        {% endif %}

        <button type="submit" class="btn btn-primary my-3" disabled id="submitBtn">Entrar</button>

        <div class="form-text">
          Não possui conta? <a href="{% url 'usuario_create' %}">Criar conta</a>
        </div>
      </form>
    </div>
  </div>

  <script src="{% static 'global/js/disabledSubmitBtn.js' %}"></script>
{% endblock %}
