{% extends 'base.html' %}
{% block content %}
  <div class="row g-3 mt-3">
    {% if show_actions %}
      <a href="{% url 'destino_update' destino.id %}" class="text-end">Editar</a>
    {% endif %}
    <h1>{{ destino.titulo }}</h1>
    <img src="/hospedax/media/{{ destino.imagem }}" alt="{{ destino.titulo }}" />
    <div class="d-flex justify-content-between flex-wrap">
      <p>{{ destino.preco }} | {{ destino.localizacao }}</p>
      <a href="#">Comprar</a>
    </div>
    <p>{{ destino.descricao }}</p>
  </div>
{% endblock %}
