{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HospedaX</title>
    <link rel="shortcut icon" href="/hospedax/media/favicon/logo-arcx-x.png" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="{% static 'global/css/base.css' %}" />
  </head>

  <body>
    {% include 'partials/nav.html' %}

    <main class="container py-3" style="min-height: 75vh;">
      <div class="row justify-content-center">
        {% comment %} <div class="col-12 col-lg-9"> {% endcomment %}
          {% block content %}

          {% endblock %}
        {% comment %} </div> {% endcomment %}
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <script>
      function updateIcon(theme) {
        const icon = document.getElementById('theme-icon')
        icon.className = theme === 'dark' ? 'bi bi-moon' : 'bi bi-sun'
      }
      
      function toggleTheme(event) {
        event.preventDefault()
      
        const html = document.documentElement
        const current = html.getAttribute('data-bs-theme')
        const newTheme = current === 'dark' ? 'light' : 'dark'
      
        html.setAttribute('data-bs-theme', newTheme)
        localStorage.setItem('theme', newTheme)
      
        updateIcon(newTheme)
      }
      
      document.addEventListener('DOMContentLoaded', () => {
        const savedTheme = localStorage.getItem('theme') || 'light'
        document.documentElement.setAttribute('data-bs-theme', savedTheme)
        updateIcon(savedTheme)
      })
    </script>

    {% include 'partials/footer.html' %}
  </body>
</html>
