{% extends 'base.html' %}
{% block content %}
  <div class="my-3">
    {% include 'partials/search.html' %}
  </div>

  <div>
    <h1 class="text-center">Encontre o <u><i><b>SEU</b></i></u> lugar aqui!</h1>
    <p class="text-center">Conheça as melhores hospedagens que combinem com seu estilo</p>
  </div>

  <div class="mt-5">
    <div class="d-flex justify-content-between align-items-baseline">
      <h2 class="mb-3"><i class="bi bi-arrow-right"></i> Recomendados</h2>
      <a href="{% url 'destino_list' %}">Ver mais</a>
    </div>
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        {% for d in destinos %}
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-label="Slide {{ forloop.counter }}" {% if forloop.first %}aria-current="true"{% endif %}></button>
        {% endfor %}
      </div>
      <div class="carousel-inner">
        {% for d in destinos %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <a href="{% url 'destino_retrieve' d.id %}"><img src="/hospedax/media/{{ d.imagem }}" class="d-block w-100 rounded" alt="{{ d.titulo }}" /></a>
            <div class="carousel-caption d-none d-md-block bg-light rounded px-3 py-1">
              <h5 class="text-truncate">{{ d.titulo }}</h5>
              <p class="text-truncate">{{ d.localizacao }} | {{ d.preco }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span></button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next"><span class="carousel-control-next-icon"></span></button>
    </div>
  </div>

  <div class="mt-5">
    <div class="d-flex justify-content-between align-items-baseline">
      <h2 class="mb-3"><i class="bi bi-arrow-right"></i> Ofertas</h2>
      <a href="{% url 'destino_list' %}">Ver mais</a>
    </div>
    <div class="row">
      {% for d in destinos %}
        <div class="col-12 col-lg-3">
          <div class="card mb-3">
            <img src="/hospedax/media/{{ d.imagem }}" class="card-img-top" alt="{{ d.titulo }}" />
            <div class="card-body">
              <h5 class="card-title text-truncate">{{ d.titulo }}</h5>
              <p class="card-text text-truncate">{{ d.localizacao }} | {{ d.preco }}</p>
              <a href="{% url "destino_retrieve" d.id %}" class="btn btn-primary">Ver detalhes</a>
            </div>
          </div>
        </div>
        {% if forloop.last %}
          <div class="col-12 col-lg-3">
          <div class="card">
            <img src="/hospedax/media/destinos/imagens/plus.jpg" class="card-img-top" alt="ver-mais" />
            <div class="card-body">
              <h5 class="card-title text-truncate">Veja todos</h5>
              <p class="card-text text-truncate">Busque seu próximo destino</p>
              <a href="{% url "destino_list" %}" class="btn btn-primary">Ver mais</a>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
